.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.paginationBtn {
  align-self: flex-start;
}

.demo-table {
  width: 90%;
}
.demo-table1 {
  width: 100%;
}

.mat-column-demo-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-nom {
  width: 600px;
  padding-left: 16px;
  font-size: 15px;
}

.mat-column-demo-dateRendu {
  font-style: italic;
}

.mat-column-demo-rendu {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.mat-column-edit {
  text-align: center;
}

.mat-column-delete {
  text-align: center;
}

.paginationBtns{
  width: 100%;
  height: 35px;
  background: #f3f3f3;
}
.btngrp{
  width: max-content;
  margin-left: 50%;
  transform: translate(-50%);
}

.nbtotal{
  float: right;
  margin: 8px;
}
